<!DOCTYPE html>
<html>
<head>
	 <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
  	<link rel="stylesheet" href="./assets/css/demo.css"/>
  	<script src="./assets/js/jquery.min.js"></script>
</head>
<body>
	<div id ="root"></div>
	<script src="./dist/app.bundle.js"></script>
</body>
</html>